
.center-header {
    text-align: center;
}

.about-container {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-left: -40px; 
}
.about-container-home{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}
.circle-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ddd;
    text-align: center;
}
.circle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.name-text {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.visual-image {
    width: 500px;          
    height: 500px;
    margin-left: 60px;  
}

.visual-image img {
    width: 100%;        
    height: 100%;          
    object-fit: cover;    
}

.upload-image {
    width: 500px;       
}

.upload-image img {
    width: 100%;         
    height: 100%;         
    object-fit: cover;     
}

.game-image {
    width: 200px;    
    height: 200px;   
}

.game-image img {
    width: 100%;         
    height: 100%;         
    object-fit: cover;     
}