/* Center the header text */
.center-header {
    text-align: center;
}

.about-container {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-left: -40px; /* Adjust this value to move the entire row left */
}
.circle-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ddd;
    text-align: center;
}
.circle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.name-text {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.visual-image {
    width: 150px;           /* Adjust the diameter of the circle */
    height: 150px; 
}

.visual-image img {
    width: 100%;            /* Ensures the image fills the circle container */
    height: 100%;           /* Ensures the image fills the circle container */
    object-fit: cover;      /* Ensures the image covers the circle without distortion */
}

.upload-image {
    width: 500px;           /* Adjust the diameter of the circle */
}

.upload-image img {
    width: 100%;            /* Ensures the image fills the circle container */
    height: 100%;           /* Ensures the image fills the circle container */
    object-fit: cover;      /* Ensures the image covers the circle without distortion */
}